<div class="row-fluid">


    <div class="col-lg-12" id = "page_content"> 

            <p></p>
     	<img style="margin: 0px 20px 20px 0px;padding:0;border:0;" align="left" src="{{base_url}}assets/img/about.jpg" alt="Гончаров Владимир" title="Гончаров владимир" width="170" height="200" />

       
	  <p align="left">	Я, Гончаров Владимир Александрович, 1984 года рождения.</p>

      <p>
			В 2006 году окончил Саратовский государственный технический университет. 
			Имею высшее образование по специальности «Программное обеспечение вычислительной техники и автоматизированных систем», инженер – программист.
      </p>

	  <p>
			Трудовая деятельность до поступления на работу в Общество: 
			с 2004 – 2006 гг. – инженер – конструктор отдела главного конструктора 
			«Саратовский подшипниковый завод», 
			с 2006 – 2007 гг. – инженер – программист отдела моделирования и программирования 
			«Конструкторское бюро промышленной автоматики».
			C 2007 - настоящее время - инженер 1 категории отдела обработки и анализа данных 
			внутритрубной диагностики. 
	  </p>
	        
	  <p>
			Обладаю большими практическими знаниями. Имею глубокие знания по своей 
			специальности, широкую общую эрудицию в служебных вопросах. Умело использую 
			свои знания в повседневной работе. 
			Успешно выполняю ответственные задания. Проявляю исполнительность и самостоятельность 
			при выполнении поставленных задач.В настоящее время занимаюсь разработкой, 
			совершенствованием и сопровождением программного обеспечения по автоматизации 
			обработки данных внутритрубной диагностики. 
	  </p>	


        <h1 style="color:blue">Контакты</h1>
		 <a href="mailto:goncharov.saratov@gmail.com">goncharov.saratov@gmail.com</a></br>
		 <a href="mailto:goncharov.saratov@rambler.ru">goncharov.saratov@rambler.ru</a>		 
    </div>

</div>

