<div class="row">

    <div class = "container" align="center">
    <div class="col-lg-12" id = "page_content" align="left"> 
	<h1>Карта сайта</h1>
	<ul>
	<li><a href="{{base_url}}ng-app/index.html#/projects">Главная</a></li>
	<li><a href="{{base_url}}ng-app/index.html#/projects">Обо мне</a></li>
		</ul>

</div>