
<h1>Новости ....</h1>

<section id="newsLetter">

	<article id="director_news">
		
		<header>
			<h2 class="intro">Передача данных между сущностями AngularJS</h2>
		</header>
		<div>
			<p>
				Один из самых распространенных вопросов по AngularJS – передача данных от одной сущности другой. На самом деле вариантов не так много. Попробуем их все рассмотреть.....
			</p>
			<aside class="callout">
			<h4>
				<p>
					&quot;
					Для начала определимся какими типами сущностей будем оперировать: это будет контроллер, сервис и представление. 

					&quot;

				</p>
			</h4>
			</aside>

			<p>
				Фактически осуществляется посредством контроллера (рассмотрено выше), но переменную-свойство в контроллере можем не создавать: она будет создана автоматически.
			</p>
		</div>
	</article>

	<article id="awesume_bits">
		<header>
			<h2 class="intro">Ruby on Rails</h2>
		</header>
		<div>
			<p>
				Что же делает Rails таким замечательным? Во-первых, Ruby on Rails на сто процентов открыт, доступен в силу MIT License, и, как результат, его можно загружать и использовать бесплатно. Rails фактически создает предметно-ориентированный язык (domain-specific language) для написания веб-приложений. 
			</p>
		</div>
	</article>
	<article id="birthdays">
		<header class="titleArticle">
			<h2 class="intro">Node.js для начинающих</h2>
		</header>
		<div>
			<p>
				Первая инкарнация JavaScript жила в теле браузера. Но это всего лишь контекст. Он определяет, что вы можете делать с языком, но не говорит о том, что язык сам по себе может сделать. JavaScript это «полноценный» язык: вы можете использовать его в различных контекстах и достичь всего того, что можете достичь с другими «полноценными» языками.
			</p>
		</div>
	</article>

	<article id="birthdays1">
		<header>
			<h2 class="intro">How to print selected row from datagridview</h2>
		</header>
		<div>
			<p>
				I have got a problem. I have an application that shows data in datagridview.
				Now, I want to add 'Print' option in it. I want to it print only those that are
				selected. I have tried a code but it didn't help at all. Please suggest me something
				about.
			</p>
		</div>
	</article>


</section>