<form action="/login" method="post">

	<fieldset id="login">

		<legend>Log in</legend>
		
		<ol>
			<li>
				<label for="email">Email</label>
				<input id="email" type="email" name="email">
			</li>
			<li>
				<label for="password">Password</label>
				<input id="password" type="password"
				 name="password" value="" autocomplete="off"/>
			</li>
		</ol>


	</fieldset>


</form>