<section style="margin-top: 40px">
        Тут рисуем html 5
            <canvas id="my_canvas" width="150" height="100">
            </canvas>
          </section>

<section>
    <nav>
        <h3>Archives</h3>

        <ul>
                  <!--   <li><a href="2015/10">October 2015</li>
                     <li><a href="2015/11">November 2015</li>
-->
            <li><a href="#">October 2015</a></li>
            <li><a href="#">November 2015</a></li>

        </ul>

    </nav>
</section>


