<div class="row-fluid">

    <div class="navbar navbar-inverse navbar-fixed-top">

       <div class="col-lg-4">
        <div class="navbar-header">
 
           <img id="logoVG" class="left" src="{{base_url}}assets/img/logo.png" alt="Гончаров Владимир" title="Гончаров Владимир" width="150" height="70" />

<!--
          <a class="navbar-brand" href="#">
      
          </a>
          -->
        </div>
        </div>
       
       <div class="col-lg-8">
        <div class="navbar-collapse collapse" align="left">
          <ul class="nav navbar-nav navbar-right">
           <!--
            <li class="active">
            <a href="#projects">Проекты</a></li>
            -->
            <li><a href="#projects">Проекты</a></li>
            <li><a href="#about">Обо мне</a></li>
            <li><a href="#news">Новости</a></li>
            <li><a href="#price">Статистика</a></li>


            <!--<li><a href="#map">Карта сайта</a></li>
-->
            <li ng-controller="modalMailCtrl"><a ng-click="open()">Сообщение</a></li>
            <li><a href="#signIn">Войти</a></li>

          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>
</div>