
<div ng-controller="modalMailCtrl">


<form name="answerForm">

   <div class="modal-header">
       <h4 class="modal-title" id="myModalLabel">Написать сообщение</h4>

       <ul>
         <li ng-repeat="m in msg">{{m}}</li>
      </ul>

   </div>

   <div class="modal-body">


           <div class="row-fluid">
                   
                   <div class="formField">Ваш e-mail<br />
                       <span class="formFieldString"><input ng-model="answerForm.email" type="text" size="15" maxlength="255" value="<?php echo set_value('email');?>" /></span>
                   </div>



                   <div class="formField">Ваше сообщение<span class="star"> *</span><br />
                       <textarea cols="80" rows="8" id="text" ng-model="answerForm.comment"><?php echo set_value('text');?></textarea>
                  </div>

                    
                  <label for="posCaptcha"><b>Текст на изображении<span class="star"> *</span></b>:<br /></label>
                  <input class="text1" type="text" size="15" ng-model="answerForm.captcha" id="keystring" />
                  <img  ng-src="{{imageCaptcha}}" alt="Inspection Viewer" title="Inspection Viewer" width="180" height="30" />
                  
                  <!--<img  ng-src="{{imageCaptcha}}"/>-->
                  <img  ng-src="{{te}}"/>

                  <p>{{te}}</p>

          </div>

   </div>

   <div class="modal-footer">

      <button class="btn btn-primary" ng-click="ok(answerForm)" type="submit" name="send_message">Отправить</button>

      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>

   </div>
   </form>
</div>
