

<p>
	Программа InspectionViewer предназначена для просмотра и анализа информации записанной
	снарядом-дефектоскопом. Программа предоставляет пользователю возможности для анализа различных
	типов данных, выявления аномалий, дефектов и объектов трубопровода, определения их характеристик,
	привязки выявленных объектов к дистанции и технологическим элементам трубопровода, сохранение
	выявленных объектов в базу данных для дальнейшего формирования отчета.
</p>


<p>
С помощью программы можно просматривать записи сделанные дефектоскопами разного диаметра,
начиная от 273 до 1420 мм.
</p>

