<p>
	Для наблюдения за конкретным участком газопровода назревала необходимость в разработке программных средств, которые бы автоматизировали процесс ручного совмещения дефектов нескольких обследований и позволили бы аналитику сосредоточиться на результатах совмещения дефектов, произвести оценку совмещения данных и сделать свои выводы.
</p>

<p>
	Реализованные задачи
	1. Разработан способ совмещения дефектов нескольких обследований на развертке датчиков. Способ используется для предварительного просмотра совмещаемых обследований, быстрой оценки совпадения дефектов и наблюдения за развитием дефектов.  	 
	2. Разработан способ совмещения дефектов нескольких обследований в виде таблицы.  Способ применяется  на нашем предприятии отделом обработки и анализа данных для сравнительного анализа и ведения статистики, что в дальнейшем позволит  оценить развитие дефектов в периоде между двумя обследованиями.
</p>

<p>
Совмещение дефектов нескольких обследований на развертке датчиков. На слайде представлена развертка датчиков дефектоскопа с выделенными дефектами разных обследований на одной дистанции трубы. Особенностью данного метода является то, что каждому обследованию ставится в соответствие свой цвет при отображении дефектов на развертке.
</p>

<p>
	Совмещение дефектов нескольких обследований в виде таблицы. Особенностью данного метода является сопоставление пары дефектов разных обследований. Механизм совмещения обследований сложен тем, что включает в себя реализацию несколько этапов: совмещение трубных секций, совмещение пары дефектов по дистанции и ориентации на трубе, объединение и упорядочивание результатов совпадения дефектов.  
	При совмещении трубных секций необходимо учитывать ремонт труб и совмещение кольцевых швов, любой сдвиг по трубам в дальнейшем приведет к не правильному сопоставлению дефектов. Чтобы выявить место ремонта необходимо сравнение длины трубы разных обследований.
</p>


<p>
	Достоинством способа табличного сопоставления пары дефектов является: 
	1. Ведение статистики совпадения дефектов.
	2. Возможность оценить развитие дефекта в периоде между двумя обследованиями.
	3. Экспорт результатов совмещения в Excel для дальнейшей обработки.
</p>
