<div class="row-fluid">

<div id="#projectsList">

            <div class="col-lg-6" ng-repeat="n in list_data">
              <div class="tilt">
                    
                    <p>

                    <a href="{{base_url}}ng-app//index.html#/project/{{n.project_id}}">

                     <div align="center"><img align="center" src="{{base_url}}assets/img/projects/{{n.image}}"
                      alt="Inspection Viewer" title="Inspection Viewer" width="300" height="200" /></div>
                    </a></p>
                    <h4 align="center"><b>{{n.title}}</b></h4>
              </div>
            </div>
</div>
</div><!-- row -->
 