<!--     <div class="row centered" id = "page_content" style="margin-top:50px">-->
     <div class="row centered" style="margin-top:50px">
      

        <p></p>

        <div class="col-lg-12">
           <h3 style="color:blue">{{project_data.title}}</h3>
        </div>

        <div class="col-lg-12">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            
             <div class="flexslider" flexslider> 
              <ul class="slides" id="space-for-image">
              </ul>
             </div>

          </div>
          <div class="col-lg-3"></div>
        </div>

  
				<p></p>
        
       

<div ng-include data-src="'staticpages/projects/' + project_data.project_id + '.html'"></div>


